section.success {
    color: #ffffff;
    background: #9b89b0;
}

.navbar{
    background: #675c83;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: #483B63;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    color: #9b89b0;
}
